body{
    background-color: rgb(210, 202, 218);
   
}




h1{
 background-color: rgb(230, 220, 212);
 font-size: larger;
 box-shadow: inset;
 color: black;
}


h2{
    background-color: rgb(230, 220, 212);; 
    font-size: larger;
    color: black;
    box-shadow: inset;
}


h3{
    background-color: rgb(230, 220, 212);; 
    font-size: larger;
    color: black;
    box-shadow: inset;
}




